.final-page {
  background-color: #303030;
  color: white;
}
.perfect, .congrats {
  font-size: 4.5rem;
  text-align: center;
}
h6 {
  font-size: 1.2rem;
  text-align: center;
}
.try-again {
  background-color: #00bc8c;
}
.try-again:hover {
  color: white;
}